@media (width < 900px) {
    #top-section {
        .menu-container,
        .phone-for-desktop {
            display: none;
        }

        .nav-button {
            padding: 4% 8%;
        }

        .small-text {
            max-width: 100%;
        }

        .logo {
           max-width:8em;
           margin-top: 4%;
        }

        .phone {
            font-size: 1em;
            margin-right: 100px;
        }

        .burger-menu-btn {
            display: inline-block;
            background-color: transparent;
        }

        .phones-and-media-container {
            position: relative;
        }
    

        .social-media {
            position: absolute;
            right: 0;
            top: 85px;
        }

        .top-container {
            flex-wrap: wrap-reverse;
        }
    }

    #services-section {
        .services-container {
            grid-template-columns: 1fr;
        }
    }
}